*{
    margin: 0px !important;
    padding: 0px ;
    background-color: transparent;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;

    

}
.btn-primary{
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 35px;
    transition: .3s;
    margin-top: 10px !important;
}
.btn-primary:hover{
    transform: scale(1.05);
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 151, 151);
    align-items: center;
    color: white;
    height: 60px;
    box-shadow: 1px 1px 2px grey;
    position: fixed;
    width: 100%;
}
.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.header h2{
    margin-left: 100px !important;

}
.menu{
    margin-right: 100px !important;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: wheat;
}

/* banner start */

.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 228, 224);
    padding: 0px 100px !important;
    padding-top: 50px !important;
}
.slide img{
    width: 550px;
}
.slide_data p{
    color: grey;
    font-size: 30px;
    font-weight: 200px;
    margin-top: 19%!important;
}
.slide_data h1{
    font-size: 50px;
    color: yellowgreen;
}
.slide_data h3{
    color: black;
}
.slide_data a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}
.slide_data{
    line-height:40px;
}
.banner_under{
    color: greenyellow;
    margin: 1px auto !important;
    width: 100%;
    opacity: 40%;
}

/* about section start */

.about_me{
    display: flex;
}
.expert{
    display: flex;
    gap: 10px;
}
.about{
    width: 50%;
    margin: 50px 50px !important;
}
.skill{
    width: 50%;
    margin: 50px 50px !important;
}
.about h1{
    margin-bottom: 10px !important;
    font-size: 4rem;
    color: yellowgreen;
}
.grey{
    color: grey;
    opacity: 80%;
}
table{
    margin-top: 30px!important;
}
table td{
    width: 150px;
}
.info{
    color: grey;
    width: 400px;
}
.about table{
    color: yellowgreen;
    font-weight: 900px;
}

.skill h3{
    margin-top: 100px !important;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}
.my_skill h2{
    font-size: 2rem;
    margin: 20px 0px !important;
}
.graphic{
    padding: 40px 40px;
    text-align: center;
    background-color: rgb(233, 231, 231);
    border-radius: 10px;
    color: black;
    transition: .3s;
    border: 1px solid rgb(233, 247, 212);
}
.graphic:hover{
    transform: scale(1.05);

}
.fa-solid, .fas{
    font-size: 30px;
    color: yellowgreen;
}
.my_skill td{
    font-size: 1.2rem;
    font-weight: 900px;
}

/* reusme part start */

.experience{
    display: flex;
    gap: 30px;
}
.resume_part{
    background-color: rgb(232, 243, 247);
    padding: 100px 50px !important;
}
.resume_part h1{
    text-align: center;
    font-size: 3rem;
}
.resume_description{
    width: 50%;
    margin: auto !important;
    text-align: center;
    margin-bottom: 50px !important;
    color: grey;
}
.degree{
    background-color: rgb(255, 255, 255);
    padding: 20px 40px!important;
    border-bottom: 1px dotted grey;
    box-shadow: 1px 1px 5px rgb(211, 210, 210);
    border-radius: 15px;
    margin-bottom: 10px!important;
}
.education h2{
    text-align: center;
    margin-bottom: 40px !important;
}
.degree h3{
    border-bottom: 1px solid rgb(238, 236, 236);
    margin-bottom: 5px !important;
}
.pera{
    color: yellowgreen;
    margin-bottom: 5px !important;
}
